
* {

    font-family: 'Inconsolata', monospace;
    margin : 0;
    padding : 0;
  }
  
  :root {
    --soft-blue : #2596be;
  }
  
  nav {
    position : fixed;
    top : 0;
    width : 100vw;
    height : 8vh;
    background-color : var(--soft-blue);
    border : 2px solid black;
    z-index : 99;
  }
  
  nav h1 {
    margin-top : .5vh;
    font-size : 4vh;
  }

  h1, h2, footer a {
    padding-left: 10px;
  }
  
  #links {
    display : flex;
    justify-content : space-evenly;
    margin : .5vh;
    border-top : 2px solid black;
  }
  
  a {
    text-decoration : none;
    color : inherit;
  }
  
  #welcome-section {
    margin-top : 8vh;
    height : 55vh;
    padding-top : 45vh;
  }
  
  #welcome-section {
    background : linear-gradient(
      30deg,
      #76a5c5,
      #76b5c5 40%
    )
  }
  
  #bar{
    text-align : center;
    background-color : black;
    color:white;
    opacity : 40%;
    padding : 2;
    z-index: 2;
  }

  #gears {
    z-index: 1;
  }
  
  .gear {
    position : absolute;
    height : 20px;
    width : 20px;
    border-radius : 50%;
    background-color : grey;
    border : 20px solid grey;
    top: 15%;
    left : 15%;
    animation : spin 3s linear infinite;
    z-index : 1;
  }
  
  .tooth {
    position : absolute;
    transform-origin : 0% 0%;
    height : 12px;
    width : 37px;
    background-color : grey;
    top : calc(50% - .5 * 12px);
    left : 46%;
    transform : rotate(0);
  }
  .tooth:nth-of-type(2){
    transform : rotate(60deg);
    left : 58%;
    top : calc(58% - .5 * 12px);
  }
  .tooth:nth-of-type(3){
    transform : rotate(120deg);
    left : 75%;
    top : calc(75% - .5 * 12px);
    width : 38px;
  }
  .tooth:nth-of-type(4){
    transform : rotate(180deg);
    left : 50%;
    top : calc(50% + .5 * 12px);
    width : 36px;
  }
  .tooth:nth-of-type(5){
    transform : rotate(240deg);
    left :25%;
    top : calc(45% + .5 * 12px);
  }
  .tooth:nth-of-type(6){
    transform : rotate(300deg);
    left : 35%;
    top : calc(20% + .5 * 12px);
    width : 36px;
  }
  
  @keyframes spin {
    0% {
      transform : rotate(0deg);
    }
    100% {
      transform : rotate(360deg);
    }
  }
  
  #g1 {
      top: 35%;
    left : 25%;
    animation : spin 7s linear infinite;
  }
  
  #g2 {
    top : 90%;
    animation : spin 2s linear infinite;
  }
  
  #g3 {
    top : 30%;
    left : 70%;
    animation : spin 4s linear infinite;
  }
  
  #g4 {
    top : 80%;
    left : 75%;
    animation : spin 9s linear infinite;
  }
  
  #projects, #contact{
     background : linear-gradient(
      30deg,
      #76a5c5,
      #76b5c5 40%
    )
  }
  
  #projects h1{
    background-color : var(--soft-blue);
    padding : 4;
    border : 2px solid black;
    z-index : 99;
  }
  
  #projects-div {
    display : flex;
    align-items: center;
    justify-content: center;
    flex-wrap : wrap;
  }
  
  .project-tile {
    border : 2px solid black;
    width : 500px;
    text-align : center;
    border-radius: 10%;
    margin : 10px;
    background-color: var(--soft-blue);
  }
  
  div img {
    width: 60%; 
    height: 60%; 
    max-width : 400px;
    object-fit: cover;
    border : 10px solid black;
    border-radius : 20%;
    display : block;
    margin : auto;
  }
  
  .glink {
    color : blue;
    border-bottom : 1px solid black;
  }
  
  #contact_heading{
    background-color : var(--soft-blue);
    border : 2px solid black;
    z-index : 3;
    padding : 4;
  }
  
  #contact a{
    display : block;
    text-align: center;
    margin: auto;
    color : blue;
    padding : 5;
  }
  
  #contact {
    padding-bottom : 50px;
  }
  
  @media (max-width : 80){
    p {
      font-size : 20px;
    }
  }

  #contacts {
    display : flex;
    align-items: center;
    justify-content: center;
    flex-wrap : wrap;
  }

.contact-tile {
    border : 2px solid black;
    text-align : center;
    border-radius: 10%;
    width : 250px;
    background-color: var(--soft-blue);
    margin : 8px;
}

.contact-tile img {
  border : 6px solid black;
}

footer {
  width : 100vw;
  background-color : var(--soft-blue);
  border : 2px solid black;
  z-index : 99;
}

#contact-href #projects-href{
  top : -10%;
}

section p {
  margin : 5px;
}